<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta http-equiv="X-UA-Compatible" content="ie=edge" />
                <title>EBT Supervisor</title>
                <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
                <!-- Compiled and minified CSS -->
                <link
                  rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
                />
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            
                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                <!--Let browser know website is optimized for mobile-->
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <!--Import Google Icon Font-->
                <link
                  href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet"
                />
                <!--Import materialize.css-->
                <link
                  type="text/css"
                  rel="stylesheet"
                  href="css/materialize.min.css"
                  media="screen,projection"
                />
              </head>
<body>
    <div id="employeePage">
        <main>
     
            <div class="wrapper">

                    <div class="">
                        
                        
                
                        <nav class="indigo lighten-3 " role="navigation" >
                            <div class="nav-wrapper container left" style="padding-left:50px;">
                                <a href="#!" class="brand-logo " ><img
                                    src="assets/images/logo2.png" style=" height:65px; width:190px; "></a>
                                
                            </div>
                        </nav>
                    </div>
                
                </div>
                <div class="sideNaveContent" style="width:10%; height: 72vh; background-color:rgb(141, 122, 247);">
                
                <ul id="slide-out" class="side-nav fixed " style="padding-left:20px; padding-top:5px;">
                    <li><a href="#!" class="black-text"><h5> Revenue</h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Add Items to Inventory</h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Remove Items From Inventory</h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Employee Schedules</h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Review Budgets </h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Set Goals</h5></a></li>
                    <br>
                    <li><a href="#!"class="black-text"><h5>Comments</h5></a></li>
                
            </div>
            <div style="height:15px;"></div>
            
    
    








       <footer class="page-footer indigo lighten-3 text-black">
         <p
            class="black-text center"
              style="font-size:x-large;  padding: 0px; margin: 1%;"
              >
                          We will help you grow.
                        </p>
                         <div class="footer-copyright black-text ">
                          
                
                          <pre>        © 2019 Copyright </pre>
                          <a class="black-text text-lighten-4 right" href="#!"
                            ><pre>
                  Contributing developers: Claudia, Gabriele, Jake, Orion, Morteza      </pre
                            ></a>
                          
                        </div>
                      </footer>              
            
        </main>
    </div>
    <script>
    
    $(document).ready(function(){
    $('.sidenav').sidenav();
    };
    
    </script>
</body>
</html>