<div id="employeePage">
    <main>

        <!--  SIDE-NAV SECTION -->

        <div class="row flex">
            <div class="col s6 m2 l2 blue-grey darken-1">
                <ul>
                    <li style="color: white; font-size:2rem;">DASHBOARD</li>
                </ul>

                <!-- SIDE-NAV LINKs -->
                <br>
                <ul style="height:60vh;">

                    <li>
                        <a href="#modal10" id="supRevenue" class="black-text modal-trigger">
                            <h5>Revenue</h5>
                        </a>
                    </li>
                    <br />
                    <li>
                        <a href="#modal11" id="supAddInv" class="black-text modal-trigger">
                            <h5>Add Item To Inventory</h5>
                        </a>
                    </li>
                    <br />
                    <li>
                        <a href="#modal12" id="supRemoveInv" class="black-text modal-trigger">
                            <h5>Remove Item From Inventory</h5>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#modal13" id="supBudget" class="black-text modal-trigger">
                            <h5>Budget</h5>
                        </a>
                    </li>
                    <br />
                    <li>
                        <a href="#modal14" id="supGoals" class="black-text modal-trigger">
                            <h5>Set Goals</h5>
                        </a>
                    </li>
                    <br />
                    <li>
                        <a href="#modal15" id="supSchedule" class="black-text modal-trigger">
                            <h5>Schedule Dashboard</h5>
                        </a>
                    </li>
                    <br />
                    <li>
                        <a href="#modal16" id="supComment" class="black-text modal-trigger">
                            <h5>Comments</h5>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
</div>

<div style="height:15px;"></div>

<!--  MODAL SECTION -->
<div id="modal10" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>REVENUE</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<div id="modal11" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>ADD ITEM TO INVENTORY</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<div id="modal12" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>REMOVE ITEM FROM INVENTORY</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>
<div id="modal13" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>BUDGET</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<div id="modal14" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>SETTING GOALS</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<div id="modal15" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>SCHEDULE</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>
<div id="modal16" class="modal" style="background-color: transparent;">
    <div class="modal-content">
        <h4>COMMENTS</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            reiciendis laboriosam porro laborum, aliquid ipsa fugiat molestias
            laudantium quod quo.
        </p>
    </div>
    <div class="modal-footer" style="background-color: transparent;">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<!-- FOOTER SECTION  -->
<footer class="page-footer indigo lighten-3 text-black">
    <p class="black-text center" style="font-size:x-large;  padding: 0px; margin: 1%;">
        We will help you grow.
    </p>
    <div class="footer-copyright black-text ">


        <pre>        © 2019 Copyright </pre>
        <a class="black-text text-lighten-4 right" href="#!">
            <pre>
                  Contributing developers: Claudia, Gabriel, Jake, Orion, Morteza      </pre></a>

    </div>
</footer>

</main>
</div>

<!-- INITIALIZING MODAL SECTION -->

<script>
    $(document).ready(function () {

        $('.modal ').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200,
            ready: function (modal, trigger) {
                console.log('modal opened', modal, trigger);
            }
        });
    });
</script>
