/* body {
  background-image: url('../images/background3.jpg');
  background-position: center;
 background-repeat: no-repeat;
  background-size: cover;
 } */

#backGround::before {
  background-image: url('/assets/images/background3.jpg');
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
}

#employeePage::before {
  background-image: url('/assets/images/watermark.png');
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

